.sidebar{
	display: flex;
	flex-basis: rem(280px);
	flex-grow : 0;
	padding: rem(24px);
	height: 100vh;
	width: 280px;
	gap:  rem(80px);
	background-color : var(--mantine-color-purple-1)
}
.logoContainer{
	position: absolute;
}
.sidebarContainer{
	width: 100%;
}