.option{
	display: flex;
	padding: 10px;
	gap: 10px;
	font-size: 16px;
	font-weight: 400;
	line-height: 22.4px;
	text-align: left;
	text-decoration: none;
	color: var(--mantine-color-grey-9);
}

.option:hover{
	transition: 0.2s ease-in all;
	color: var(--mantine-color-purple-4);
	font-weight: 400;

}
.optionActive, .optionActive:hover{
	border-radius: 8px;
	color: var(--mantine-color-purple-5);
	font-weight: 700;
	background: var(--mantine-color-purple-2);
	font-weight: 700;
	
}